<p id="m">Seleccione region
<mat-form-field appearance="fill">
    
    <mat-label>Region</mat-label>
    <mat-select disableRipple>
      <mat-option value="1">Valparaiso</mat-option>
      <mat-option value="2">Metropolitana</mat-option>
      <mat-option value="3">Bio Bio</mat-option>
      <mat-option value="4">Araucania</mat-option>
    </mat-select>
  </mat-form-field></p>


        <label for="comentarios">Estado del clima</label>
        <div>
           Soleado<input type="radio" name="clima" id="g" value ="Soleado"/>
           Lluvioso<input type="radio" name="clima" id="g" value ="Lluvioso"/>
            Tormenta<input type="radio" name="clima" id="g" value ="Tormenta"/>
            Nublado<input type="radio" name="clima" id="g" value ="Nublado"/>

        </div>


<div id="a">
    <p id="m">Seleccione dia
    <mat-form-field appearance="fill">
        
        <mat-label>Dia</mat-label>
        <mat-select disableRipple>
            <mat-option value="1">Lunes</mat-option>
            <mat-option value="2">Martes</mat-option>
            <mat-option value="3">Miercoles</mat-option>
            <mat-option value="4">Jueves</mat-option>
            <mat-option value="5">viernes</mat-option>
            <mat-option value="6">Sabado</mat-option>
            <mat-option value="7">Domingo</mat-option>
        </mat-select>
    </mat-form-field>
    </p>
</div>

<div id="p">
    <p >Temperatura
    <mat-form-field appearance="fill">
        
        <mat-label>Temperatura</mat-label>
        <mat-select disableRipple>
            <mat-option value="1">5°</mat-option>
            <mat-option value="2">10°</mat-option>
            <mat-option value="3">15°</mat-option>
            <mat-option value="4">20°</mat-option>
            <mat-option value="5">25°</mat-option>
            <mat-option value="6">30°</mat-option>
            <mat-option value="7">"35°</mat-option>
        </mat-select>
    </mat-form-field>
    </p>
</div>

<div id="q">
<label  for="comentarios">Grados</label>
     <div id="t">
           Celsius<input type="radio" name="clima" id="c" value ="Soleado"/>
           Fahrenheit<input type="radio" name="clima" id="c" value ="Lluvioso"/>
    </div> 
</div>

<button type="submit">Actualizar</button>