p#m{
    position: relative;
    top:30px;
    left: 30px;
    color: brown;
}
label{
    position: relative;
    top: 60px;
    left: 100px;
    color: brown;
}
#g{
    position: relative;
    top:20px;
    right: 40px;
    color: brown;
}
div{
    position: relative;
    top:70px;
    left: 30px;
   
}
div#a{
    position: relative;
    top :125px;
    right: 50px;
    
    
}
div#p{
    position: relative;
    left: 450px;
    color: brown;
    
}
div#q{
    position: relative;
    top:50px;
}
div#t{
    position: relative;
    top:60px;
    left: 50px;
}
button{
    position: relative;
    top:180px;
    left:100px;
    color:black;
    
}
