
<nav>
    <p><i class="fas fa-cloud-sun"></i> Clima</p>
    <div id="menu">

       <a [routerLink]="['/']" routerLinkActive="router-link-active"> <button mat-button>
           <span class = 'valparaiso'>valparaiso</span>
       </button></a>
   

    <a [routerLink]="['/regiones']" routerLinkActive="router-link-active"> <button mat-button >Metropolitana</button></a>
    

    <a [routerLink]="['/region2']" routerLinkActive="router-link-active"><button mat-button><span>Bio Bio</span></button></a>

    <a [routerLink]="['/region3']" routerLinkActive="router-link-active"><button mat-button><span>Araucania</span></button></a>
</div>

</nav>
